body {
    overflow-y:scroll;
    overflow-x: hidden;
    margin: 0;
    /* background: url('../src/images/bg-3.jpg') no-repeat center center fixed; */
}

#App {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header' 
        'main' 
        'footer';
}

#App > header {
    background: linear-gradient(90deg, #2b2b2b, #2c2c2c, #191919, #090909, #000000);
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
}

#App > main {
    grid-area: main;   
    overflow: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

#App > footer {
    padding: 20px 0px;
    background: linear-gradient(90deg, #2b2b2b, #2c2c2c, #191919, #090909, #000000);
    z-index: 10001;
    grid-area: footer;
}

.nav-item-left {
    margin-left: 30px;
}

.nav-item-right {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.nav-item-right a h3,
.nav-item-left a h3 {
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 800;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Julius Sans One', sans-serif;
    color: black;
}

.info-container {
    align-self: center;
    justify-self: center;
    width: 600px;
    height: 700px;
    z-index: 100;
    padding: 20px;
    box-shadow: rgba(195,55,100,0.25) 0px 5px 15px, rgba(29,38,113, 0.3) 0px 5px 15px;
}

.work-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-self: center;
    justify-self: center;
    z-index: 100;
    padding: 20px;
    box-shadow: rgba(195,55,100,0.25) 0px 5px 15px, rgba(29,38,113, 0.3) 0px 5px 15px;
}

.skills-container {
    align-self: center;
    width: 90%;
    grid-row-start: 3;
    z-index: 100;
    padding: 20px;
    box-shadow: rgba(195,55,100,0.25) 0px 5px 15px, rgba(29,38,113, 0.3) 0px 5px 15px;
}

.p-timeline-event-content > .p-card .p-component {
    width: 80%;
    height: 80%;
}

.p-card-header {
    height: 30%;
}

.p-card-body {
    margin-top: 10px;
    margin-bottom: 10px;
}



.inner-scroll-info-container {
    max-height: 200px;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.circle-button {
    flex-direction: column;
    align-self: center;
    border-radius: 360px; 
    width: 250px; 
    height: 250px; 
    z-index: 100;
    background: linear-gradient(90deg, #2b2b2b, #2c2c2c, #191919, #090909, #000000);
    box-shadow: rgba(195,55,100,0.25) 0px 5px 15px, rgba(29,38,113, 0.3) 0px 5px 15px;
}

.circle-button:hover {
    box-shadow: rgba(195,55,100,0.25) 0px 19px 38px, rgba(29,38,113, 0.3) 0px 15px 12px;
}

a.circle-button h2 {
    color: white;
    text-align: center;
    margin-top: 42.5%;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Julius Sans One', sans-serif;
}

h1 {
    color: black;
    font-size: 32px;
    font-family: 'Julius Sans One', sans-serif;
}

h4 {
    font-family: 'Raleway', sans-serif;
}

h4, h5 {
    color: white;
}

p {
    font-size: 16px !important;
    color: #888;
}

@media screen and (max-width: 444px) {
    a h3 {
        font-size: 14px;
    }

    .nav-item-right {
        display: none;
    }
}


@media (max-width: 1000px) {
    /* .box {
        padding: 20px 0px;
    } */

    .row {
        grid-template-columns: repeat(auto-fill, 
                           minmax(200px, 1fr));
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 60px;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    grid-gap: 20px;
}

.footerLink {
    color: #fff;
    margin-bottom: 20px;
    font-size: 14px;
    text-decoration: none;
}

.footerLink:hover {
    color: purple;
    transition: 200ms ease-in;
}

.followLinks {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.heading {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: bold;
}

.subheading {
    margin-top: 30px;
    font-size: 14px;
    color: #fff;
}

.contact-container {
    height: fit-content; 
    padding: 20px;
    width: 50%;
    box-shadow: rgba(195,55,100,0.25) 0px 5px 15px, rgba(29,38,113, 0.3) 0px 5px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
}

label {
    color: white;
    font-weight: 700;
}

#contact_message {
    width: 100%;
}

.p-inputtext {
    width: 85%;
}

form {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.p-button {
    font-family: 'Julius Sans One', sans-serif;
}

.p-button-block {
    width: 100%;
    height: 55px;
    justify-content: center;
}

.p-button-label {
    flex: initial;
}

.p-button-gradient {
    background: linear-gradient(to right, #c33764, #1d2671);
    border: none;
}

.p-button-trivia {
    margin-top: 15px;
    margin-bottom: 10px;
}

.p-card {
    box-shadow: none;
}

.carousel-container {
    width: 50%;
    box-shadow: rgba(195,55,100,0.25) 0px 5px 15px, rgba(29,38,113, 0.3) 0px 5px 15px;
}

.carouselContainer {
    margin-top: 15px;
}

.p-card-body {
    display: grid;
}

.p-card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-template-rows: 1fr;
}

.p-carousel-items-content {
    height: auto;
    width: fit-content;
}

.p-card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

button {
    background: linear-gradient(to right, rgba(195,55,100, 1), rgba(29,38,113, 1)) !important;
}

button:hover {
    filter: brightness(110%);
    /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
    background: linear-gradient(to right, rgba(195,55,100, 0.5), rgba(29,38,113, 0.5)) !important;
}

.p-card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projectContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    box-shadow: rgba(195,55,100,0.25) 0px 5px 15px, rgba(29,38,113, 0.3) 0px 5px 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: fit-content;
    width:85%;
}

.project-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.project-subtitle {
    text-align: center;
    font-size: 16px;
}

.project-links {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.project-link {
    margin-left: 10px;
    text-decoration: none;
    color:rgba(29,38,113, 1);
}

.project-link:visited, .project-link:hover, .project-link:active {
    color:rgba(29,38,113, 1);
}

.project-paragraph {
    margin-top: -2.5px;
}
